/ {
  chosen {
    zmk,kscan = &kscan0;
    zmk,sensors = &encoder0, &encoder1;
  };

  kscan0: kscan {
    compatible = "zmk,kscan-gpio-matrix";
    diode-direction = "col2row";

    /* Columns */
    col-gpios = <
      &gpio1 6  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* C0  P1.06 */
      &gpio1 4  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* C1  P1.04 */
      &gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* C2  P0.11 */
      &gpio1 0  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* C3  P1.00 */
    >;

    /* Rows */
    row-gpios = <
      &gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* R0  P0.10 */
      &gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* R1  P1.11 */
      &gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* R2  P1.13 */
      &gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* R3  P1.15 */
    >;
  };

  /* Encoder 0: ENC0=P0.09, ENC1=P1.02 */
  encoder0: encoder0 {
    compatible = "zmk,rotary-encoder";
    a-gpios = <&gpio0 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;  /* P0.09 */
    b-gpios = <&gpio1 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;  /* P1.02 */
    steps = <4>;
  };

  /* Encoder 1: ENC2=P0.31, ENC3=P0.29 */
  encoder1: encoder1 {
    compatible = "zmk,rotary-encoder";
    a-gpios = <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* P0.31 */
    b-gpios = <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* P0.29 */
    steps = <4>;
  };
};
