#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &studio_unlock &kp C &kp B &kp A
        &kp E &kp F &kp G &kp H
        &kp I &kp J &kp K &kp L
        &kp M &kp N &kp O &kp P
        &none &none &none &kp C_MUTE
      >;

      sensor-bindings = <
            &inc_dec_kp C_VOL_UP C_VOL_DN
        >;

    };
  };
};
