/ {
  chosen {
    zmk,kscan = &kscan0;
    zmk,sensors = &encoder0, &encoder1;
  };

  kscan0: kscan {
    compatible = "zmk,kscan-gpio-matrix";
    diode-direction = "col2row";

    col-gpios = <
      &gpio0 38 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* C0  P1.06 */
      &gpio0 36 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* C1  P1.04 */
      &gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* C2  P0.11 */
      &gpio0 32 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* C3  P1.00 */
    >;

    row-gpios = <
      &gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* R0  P0.10 */
      &gpio0 43 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* R1  P1.11 */
      &gpio0 45 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* R2  P1.13 */
      &gpio0 47 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* R3  P1.15 */
    >;
  };

  encoder0: encoder0 {
    compatible = "zmk,rotary-encoder";
    a-gpios = <&gpio0 9  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* ENC0 P0.09 */
    b-gpios = <&gpio0 34 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* ENC1 P1.02 */
    steps = <4>;
  };

  encoder1: encoder1 {
    compatible = "zmk,rotary-encoder";
    a-gpios = <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* ENC2 P0.31 */
    b-gpios = <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* ENC3 P0.29 */
    steps = <4>;
  };
};
